
#btn_connecter{
	-fx-background-color: rgb(100,102,260);

}
#btn_inscrire{
	-fx-background-color: #90C3D4;

}
#root_anchorpane{
	-fx-background-image: url("pict0_0_1.jpg");
	/*-fx-background-color: transparent;*/
	-fx-background-position: center center;

}
#anchorpane_2{

}